
.main__container{
    max-width: 700px;
    margin: auto;
    margin-top: 5%;
    border: 3px solid black;
    box-shadow: 0 0 20px white;
    padding: 8px;
    margin-bottom: 100px;
    height: auto;
    background-color: whitesmoke;
    color: black;
    border-radius: 30px;
    font-family: 'Montserrat Alternates', sans-serif;
    background-color: black;
    
}
body{
    background: linear-gradient(153deg, rgba(0,0,0,1) 0%, rgba(107,211,26,1) 100%);
    width: 100%;
    margin: 0;
}
.center{
    text-align: center;
    color: white;
    padding: 15px;
}
.avaa{
    width: 120px;
    height: 120px;
    border: 3px solid black;
    border-radius: 100%;
    padding: 0;
}
.ava{
    width: 120px;
    height: 120px;
    margin: 0 auto;
    margin-top: -75px;
    margin-bottom: 0px;
    padding: 0;
    
}
.fon{
    background-color: #102600;
    max-width: 690px;
    height: 90px;
    margin-top: 3px;
    border: 3px solid black;
    box-shadow: 0 0 20px white;
    margin-left: 2px;
    border-radius: 20px;
}
li{
    list-style: none;
}
.opis{
    padding: 0;
    margin-top: -10;
    margin: auto;
    text-align: center;
    color: white;
    font-family: 'Press Start 2P', cursive;
    margin-bottom: 5px;
}
.lol{
   width: 200px; 
   height: 350px;
   box-shadow: 0 0 20px white;
   margin-top: 30px;
   margin-bottom: 20px;
    background: linear-gradient(180deg, rgba(16,38,0,1) 0%, rgba(107,211,26,1) 41%);
    border-radius: 20px;
    transition: 1s;

}
.all{
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-around;

}
.photo{
    width: 120px;
    height: 120px;
    border-radius: 100%;
    padding: 0;
    margin: auto;
}
p{
    padding: 5px;
    margin: auto;
}
.black{
    width: 150px;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-bottom: 10px;
}
.blacktwo{
    width: 100px;
    height: 5px;
    background-color: black;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
button{
    width: 130px;
    height: 50px;
    background: transparent;
    border: 2px solid black;
    border-radius: 20px;
    box-shadow: 0 0 20px black;
    transition: 1s;
    text-decoration:none;
    font-family: 'Rubik Wet Paint', cursive;
    cursor: pointer;
    Color: black;
    
}
button.text:active,
button.text:hover,
button.text {
  text-decoration: none;
  color: black;
}
.buttons{
    margin: auto;
    text-align: center;
}
.p{
    width: 200px;
    height: 106px;
}
.lol:hover{
    transform: scale(1.1);
}
button:hover{
    transform: scale(1.1);
    background-color: black;
    color: white;

}
*{
    text-decoration:none;
    box-sizing: border-box;
}
.avatarka{
    text-rendering: optimizespeed;
    line-height: 1.5;
    font-family: ProximaNova, Arial, Tahoma, PingFangSC, sans-serif;
    font-size: 14px;
    color: rgb(22, 24, 35);
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    box-sizing: border-box;
    display: flex;
    flex-direction: row;
    -webkit-box-align: center;
    align-items: center;
}
@media(max-width:720px){
    .main__container{
        margin-left: 30px;
        margin-right: 30px;
    }
    .opis{
        font-size: 30px;
    }
}
@media(max-width:571px){
    .opis{
        font-size: 17px;
    }
}
.all2{
    display: flex;
    padding-bottom: 50px;
    flex-wrap: wrap;
    justify-content: space-around;
}
.lol2{  
   width: 200px; 
   height: 250px;
   box-shadow: 0 0 20px white;
   margin-top: 30px;
   margin-bottom: 20px;
    border-radius: 20px;
    transition: 1s;
    text-decoration: none;
    color: white;
    text-align: center;
    margin-bottom: 60px;
}
.ttava{
    width: 150px;
    height: 150px;
    margin-top: -75px;
   box-shadow: 0 0 20px white;
   border-radius: 100%;
}
.gg{
    margin-bottom: 100px;
}
.w{
    margin-top: -5px;
    font-family: 'Rubik Wet Paint', cursive;
}
h5{
    margin: 5px 15px;
    
}
.ww{
    margin-bottom: 10px;
}
.white{
    width: 150px;
    height: 5px;
    background-color: white;
    margin: auto;
    margin-bottom: 10px;
}
.whitetwo{
    width: 100px;
    height: 5px;
    background-color: white;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
}
.lol2:hover{
    transform: scale(1.1);
}
a{
    width: auto;
    height: auto;
    margin: 0;
    padding: 0;
    Text-decoration: none;
}
